.pageHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.pageHeaderContainer .pageHeader h1 {
  font-size: 2rem;
  font-weight: 700;
  color: black;
  margin-bottom: 1rem;
}

.pageHeaderContainer .pageHeader p {
  font-size: 1rem;
  font-weight: 400;
  color: #858585;
}
