
.hero-section {
    position: relative;
    background-image: url('../../img/heroSection.png'); 
    background-size: cover;
    background-position: center;
    padding: 500px 0px;
    text-align: left;
  }
  
  .hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 300px 100px;
    box-sizing: border-box;
  }
  
  .hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .hero-content p {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 40px;
  }
  
  .cta-buttons {
    display: flex;
    justify-content: flex-start;
  }
  
  .cta-button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cta-button.primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .cta-button.secondary {
    background-color: #28a745;
    color: #fff;
  }
  