
.hero-section {
    position: relative;
    background-image: url('../../img/heroSection.png'); 
    background-size: cover;
    background-position: center;
    padding: 500px 0px;
    text-align: left;
  }
  
  .hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 300px 100px;
    box-sizing: border-box;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--secondaryColor);
    font-family: "Noto Serif", serif;
  }
  
  .hero-content p {
    font-size: 1.5em;
    color: var(--secondaryColor);
    margin-bottom: 40px;
    font-family: "Inter", sans-serif;
  
  }
  

 