.flex-container {
    display: flex;
  }
  
  .left-column,
  .right-column {
    flex: 1;
  }
  
  .middle-column {
    flex: 0.1; 
  }

  .article p {
    padding:  2px 0;
    font-size: 1.5rem;
  }

  .article h3{
    font-family: "Noto Serif", serif;
    font-size: 2rem;
    color: var(--primaryColor);
    padding-bottom: 10PX;
  
  }