.heading-paragraph-section {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.heading-paragraph-section h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: green;
  padding-bottom: 10px;
}

.heading-paragraph-section p {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
.button-section {
  margin-top: 30px;
  background-color: green;
  color: white;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  font-size: 1.2em;
  border-radius: 5px;
}
.corner-left {
  position: absolute;
    left: 0;
}
.corner-right {
  position: absolute;
  right: 0;
}
