
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-paragraph-section {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;

}

.corner-top-right {
  position: absolute;
  right: 0;
  margin: -25px 0px; 
}

.corner-bottom-left {
  position: absolute;
  left: 0;
  margin: 40px 0px;
  
}
.content{
  margin: 100px auto; 
  max-width: 600px; 
  padding: 20px 0px;
  
}
.content h2 {
  color:  var(--primaryColor);;
  font-size: 32px;
  margin-bottom: 10px;
  font-family: "Noto Serif", serif;
  
}
.content p {
  
  margin-bottom: 3px;
  
}

